.contanor{
    width: 100%;
    height: 500px;
  
    display: flex;
  justify-content: center;
  
}
.clt-contant{
  border-radius: 4px;
  width  : 300px;
  height :  400px;
  margin-left :40%;
  text-Align :center;
  margin :10px;
 
  background-color : black;

 

}
.btns{
  width: 300px;
  height:300px;
 
}
.card-div{
  width: 80%;
  height: auto;
  margin: 0% 10%;

}
.like{
 
  height: 150px;
  margin-top: -45px;
  justify-content: center;
  justify-items: center;

}
.like h3{
  border: 1px solid lightgray;
  background-color: gray;
  color: blue;
  text-align:center ;
  position: relative;


}
.like>button{
  position: relative;
  top: 15px;
 
}






